body {
	background-color: #fff;
}
.btn-primary {
	color: #ffffff;
	background-color: #0880FD;
	border-color: #0880FD;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #096ED7;
    border-color: #096ED7;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #096ED7;
	border-color: #096ED7;
}
.btn-primary:focus, .btn-primary.focus {
    color: #ffffff;
    background-color: #096ED7;
    border-color: #096ED7;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #ffffff;
    background-color: #096ED7;
    border-color: #096ED7;
}

.btn-default {
	color: #333;
	background-color: #F9F9F9;
	border-color: #D5D5D5;
}
.btn-default:hover {
    color: #333;
    background-color: #F9F9F9;
    border-color: #D5D5D5;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	color: #333;
	background-color: #F9F9F9;
	border-color: #D5D5D5;
}
.btn-default:focus, .btn-default.focus {
    color: #333;
    background-color: #F9F9F9;
    border-color: #D5D5D5;
}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #F9F9F9;
    border-color: #D5D5D5;
}
.button-group {
	margin-top: 40px;
}

.form-control {
	border: 1px solid #D5D5D5;
}
.form-control:focus {
	border-color: #67B0FD;
}
.btn {
  border-width: 1px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #0880FD;
}

.register-form {
	width: 400px;
}
.register-form h4 {
	margin: 40px 0;
}
.center {
	margin: 0 auto;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.register-form .form-group-inline {
	width: 49%;
	float: left;
	text-align: left;
}
.register-form .form-group-inline-left {
	margin-right: 2%;
}
.register-form button.flag {
	padding: 11px 10px;
}
.register-form button.flag img {
	height: 17px;
	margin-right: 10px;
	margin-top: -4px;
}
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
    margin-right: -2px;
}

label {
	color: #A4A4A4;
	font-weight: 200;
	text-transform: uppercase;
}

.register-form .selector {
	width: 100%;
}
.register-form .select2-container--default .select2-selection--multiple {
	min-height: 45px;
	line-height: 30px;
	border: solid #D5D5D5 1px;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
	border: solid #67B0FD 1px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: solid #67B0FD 1px;
}


.placeholder-wrap {
	position: relative;
	background: #FFF;
	overflow: auto;
}
.placeholder-wrap .placeholder {
	position: absolute;
	font-size: 21px;
	top: 22px;
	left: 7px;
	color: #D5D5D5;
	margin-top: -.5em;
	line-height: 1em;
	z-index: 9;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	font-family: inherit;
}
.placeholder-wrap .placeholder .dark{
	color: #000;
}
.input-group .placeholder-wrap input.form-control {
	background-color: transparent;
	font-size: 21px;
	padding: 4px 6px;
	position: relative;
	z-index: 10;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.input-group .placeholder-wrap input.form-control:focus + .placeholder {
	display: none;
}
.select2-selection.select2-selection--multiple {
	z-index: 100;
	position: relative;
}
.select2-container--open .select2-dropdown {
	padding-top: 15px;
	margin-top: -3px;
	z-index: 90;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fff;
    color: black;
}
.select2-results__option {
	position: relative;
}
.select2-results__option::before {
	content: "привет";
	width: 10px;
	height: 10px;
	/* background-color: #333; */
	position: absolute;
	top: 0;
	left: 0;
}
.top-part {
	overflow: auto;
}




